<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Rockaway")</title>
	<link type="text/css" rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<header>
		<a href="/">
			<h1>
				Rockaway
			</h1>
		</a>
		<label id="nav-toggle" for="nav-checkbox">
			<i class="fa-solid fa-bars"></i>
		</label>
		<input type="checkbox" id="nav-checkbox" />
		<nav>
			<a href="/">home</a>
			<a asp-page="/artists">artists</a>
			<a asp-page="/venues">venues</a>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
<footer>
	<span>
			Copyright &copy; 2023 Rockaway
	</span>
	<nav>
		<a href="#">about us</a>
		<a href="#">contact us</a>
		<a href="#">privacy policy</a>
		<a href="#">terms &amp; conditions</a>
		<a asp-controller="Status" asp-action="Index">system status</a>
	</nav>
</footer>
</body>
</html>
