@page
@model Rockaway.WebApp.Pages.VenuesModel
<!DOCTYPE html>
<html>
<head>
	<title>Venues</title>
</head>
<body>
	<h1>Venues</h1>
	<dl>
		@foreach (var venue in Model.Venues) {
			<dt>@venue.Name</dt>
			<dd>@venue.Address, @venue.City, @venue.CountryCode</dd>
		}
	</dl>
</body>
</html>

