<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Rockaway")</title>
	<link type="text/css" rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<header>
		<h1>
			<a href="/">Rockaway</a>
		</h1>
		<nav>
			<a href="/">home</a>
			<a asp-page="/artists">artists</a>
			<a asp-page="/venues">venues</a>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		Copyright &copy; 2023 Rockaway &bull; <a asp-controller="Status" asp-action="Index">system status</a>
	</footer>
</body>
</html>
