@page
@using Rockaway.WebApp.Components
<article class="row">
	<section class="col-12 col-md-4">
		@(await Html.RenderComponentAsync<Mungler>(RenderMode.ServerPrerendered,new { Value = 23m , CultureName="da-DK"}))
	</section>
	<section class="col-12 col-md-4">
		@(await Html.RenderComponentAsync<Mungler>(RenderMode.Server, new { Value = 45m, CultureName="sv-SE" }))
	</section>
	<section class="col-12 col-md-4">
		@(await Html.RenderComponentAsync<Mungler>(RenderMode.ServerPrerendered, new { Value = 56m, CultureName="uk-UA" }))
	</section>
</article>
