@model Rockaway.WebApp.Models.SystemStatus

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>@Model.Message</h1>
	<p>
		The time is
		<span id="system-time">@Model.SystemTime?.ToString("O")</span>
	</p>
	<h2>Database:</h2>
<pre>@Model.DatabaseServerStatus</pre>
</body>
</html>
