<h1>Admin</h1>
<p>This is a secure admin area</p>
<ul>
	<li><a asp-action="Index" asp-controller="Artists">Artists</a></li>
	<li><a asp-action="Index" asp-controller="Venues">Venues</a></li>
	<li><a asp-action="Index" asp-controller="Shows">Shows</a></li>
</ul>