@model Rockaway.WebApp.Models.SystemStatus

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>@Model.Message</h1>
	<p>
		The time is
		<span id="system-time">@Model.SystemTime?.ToString("O")</span>
	</p>
	<h2>Database:</h2>
<code>@Model.DatabaseServerStatus</code>
	<h2>FontAwesome examples:</h2>
	<p>
		<i class="fa-solid fa-hand-spock"></i>
		<i class="fa-solid fa-compact-disc"></i>
		<i class="fa-solid fa-guitar"></i>
		<i class="fa-solid fa-otter"></i>
		<i class="fa-solid fa-jedi"></i>
		<i class="fa-solid fa-stroopwafel"></i>
		<i class="fa-solid fa-user-astronaut"></i>
	</p>
</body>
</html>
