@model Rockaway.WebApp.Data.Entities.Show

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Date" />
            <div class="form-group">
                <label asp-for="DoorsOpen" class="control-label"></label>
                <input asp-for="DoorsOpen" class="form-control" />
                <span asp-validation-for="DoorsOpen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowBegins" class="control-label"></label>
                <input asp-for="ShowBegins" class="form-control" />
                <span asp-validation-for="ShowBegins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowEnds" class="control-label"></label>
                <input asp-for="ShowEnds" class="form-control" />
                <span asp-validation-for="ShowEnds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesBegin" class="control-label"></label>
                <input asp-for="SalesBegin" class="form-control" />
                <span asp-validation-for="SalesBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
